:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  transition: var(--transition);
}
a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
  min-width: 320px;
}

